
[neopixel stix]
pin: gpio24
chain_count: 20
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

[led_effect bed_heaterfire]
leds:
    neopixel:stix
autostart:                          false
frame_rate:                         24
heater:                             heater_bed
layers:
    heaterfire 30 1.00 add (0.33,0.00,0.00),(1.00,0.50,0.00),(1.00,0.00,0.00),(1.00,1.00,0.00) 

    [led_effect idle]
leds:
    neopixel:stix
autostart:                          true
frame_rate:                         24
layers:
    twinkle 9.60 0.1 add (0.50,1.00,1.00),(0.00,0.00,1.00),(0.00,0.50,0.75),(0.00,0.00,0.63),(0.00,0.00,0.25),(0.22,0.18,0.71) 

[led_effect set_print_light]
leds:
    neopixel:stix
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1.0,  1.0, 1.0, 1.0)


##############
# The Macros #
##############



[gcode_macro let_there_be_light]
gcode:
    SET_LED_EFFECT EFFECT=set_print_light


[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS






[gcode_macro status_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bed_heaterfire




[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=set_print_light


